<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <!-- Tombol Tambahan sesuai kebutuhan menu/drawer -->
    <ion-tab-button routerLink="/pengaturan">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Pengaturan</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/about">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>